<%= content_for :page_title, 'You are enrolled in The Coder Factory' %>
<%= content_for :breadcrumb, 'Thanks for choosing The Coder Factory' %>
<div class="row">
<div class="col-md-9">
<div class="panel panel-info">
<div class="panel-heading">

<h4 class="panel-title">Thanks</h4>
</div>
<div class="panel-body">
<p class="lead">We are grateful that you chose The Coder Factory to help you become a confident coder.</p>

<p>We look forward to meeting you soon.</p>
<p>You will have received a confirmation of your email by now and you should expect another shortly with some more information to help you prepare for the course.</p>

<p>If you know anyone else who may be interested in learning to code, please take a moment and share our courses with them. We would be very grateful. <i class="fa fa-smile-o"></i></p>

<div class="share">
<a href="https://twitter.com/share?url=http://thecoderfactory.com&via=coderfactory&text=Learn to code" target="_blank" title="Twitter" class="btn btn-lg twitter"><i class="fa fa-twitter fa-fw"></i> Tweet </a>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://thecoderfactory.com" target="_blank" title="Facebook" class="btn btn-lg facebook"><i class="fa fa-facebook fa-fw"></i> Share </a>
<a href="https://plus.google.com/share?url=http://thecoderfactory.com" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" title="Google+" class="btn btn-lg google-plus"><i class="fa fa-google-plus fa-fw"></i> Circle </a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://thecoderfactory.com&source=The Coder Factory" target="_blank" title="LinkedIn" class="btn btn-lg linkedin"><i class="fa fa-linkedin fa-fw"></i> Link up</a>
</div>
</div>
</div>
</div>
<div class="col-md-3">
	
			<h3>Programme Downloads</h3>
		<% @courses.each do |course| %>
					<p><%= link_to course.programme.url, target: '_blank' do %>
						<i class="fa fa-download"></i> 
						<%= course.title %>
					<% end %>
</p>
				<% end %>
			
</div>
</div>
</div>
