
	<div class="wrapper">
			<!-- Heading _____________________________________________-->
			<h1>From the blog</h1>
			
			<!-- Breadcrumbs _____________________________________________-->
			<p itemscope itemtype="http://data-vocabulary.org/Breadcrumb" id="breadcrumbs"><a href="/" rel="home" itemprop="url"><span itemprop="title">Home</span></a> <span class="divider">></span> Blog</p>
	</div>
</header>
<div class="wrapper">

	<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
	
		<!-- BLOG content  _____________________________________________-->
			<!-- Standard post excerpt _______________________________________________-->
			<article id="post-1" class="post format-standard sticky">

				<header class="entry-header">
					<!-- Post Featured Image _______________________________________________-->
					<div class="post-thumb">
						<a href="blog-post.html"><%= image_tag "vladstudio_books_color3_1024x768_signed-cropped.jpg", alt: "" %></a>	
					</div>
								
					<!-- Meta info _______________________________________________-->
					<div class="entry-byline">
						<ul>
							<li>
								<strong><i class="fa fa-user" title="Author"></i></strong> <span class="author vcard"><a class="url fn n" rel="author" href="GOOGLE+PLUS+AUTHOR_LINK" title="Darina Tyrpak">Darina Tyrpak</a></span>
							</li>
							<li>
								<strong><i class="fa fa-clock-o" title="Published on"></i></strong> <abbr class="published" title="Sunday, January 27th, 2013, 9:44 pm">January 27, 2013</abbr>
							</li>
							<li>
								<strong><i class="fa fa-comment" title="Comments"></i></strong> <a class="comments-link" href="#comments" title="Comment on Hello world!">1 Response</a>
							</li>
						</ul>
					</div><!-- END .entry-byline -->
				
				</header> <!-- END .entry-header -->

				<div class="entry-summary">
					<!-- Heading _______________________________________________-->
					<h1><a href="blog-post.html">Once Upon a Time, There Was a Template...</a></h1>
				
					<!-- Excerpt  _______________________________________________-->
					<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis.</p>
					
					<!-- Footer meta info _______________________________________________-->
					<footer class="entry-footer">
						<div class="entry-meta">
							<p class="left">Posted in: </p>
							<ul class="tags">
								<li><a href="#" rel="tag">Uncategorized</a></li> 
							</ul>
						</div>		
					</footer><!-- END .entry-footer -->
				</div><!-- END .entry-summary -->
				<div class="clear"></div>
			</article>

			
			<!-- Pagination _______________________________________________-->
			<div class="pagination loop-pagination">
				<span class="page-numbers current">1</span>
				<a class="page-numbers" href="#">2</a>
				<a class="page-numbers" href="#">3</a>
				<a class="next page-numbers" href="#">Next <span class="meta-nav">&rarr;</span></a>
			</div> <!-- END .pagination -->
			
		</section>
		<!-- END #content --> 
		

