<!-- FOOTER _____________________________________________-->
<footer id="footer" role="contentinfo">
	<div class="wrapper">

		<div class="top">
			<h3>Connect with Us</h3>
			<p class="circle-icons">
				<a href="http://www.twitter.com/DariDesignagent" target="_blank" title="Twitter"><i class="fa fa-twitter fa-2x twitter"></i></a>		
				<a href="http://www.facebook.com/darinka.tyrpakova" target="_blank" title="Facebook"><i class="fa fa-facebook fa-2x facebook"></i></a>
				<a href="#" target="_blank" title="Google+"><i class="fa fa-google-plus fa-2x google-plus"></i></a>	
				<a href="#" target="_blank" title="LinkedIn"><i class="fa fa-linkedin fa-2x linkedin"></i></a>			
			</p>
		</div>
	
		<div class="widgets">
			<div class="footerbox">
				<h3>About Us</h3>
				<p>The Coder Factory helps you become a confident coder with flexible part time courses. Build fun and exciting projects that could make your dreams come true.</p>
				<p><a href="#" class="button">Register now</a></p>
			</div>
			<div class="footerbox">
				<h3>Sitemap</h3>
				<ul>
					<li><i class="fa fa-tasks"></i>  <a href="#">Courses</a></li>
					<li><i class="fa fa-calendar"></i> <a href="#">Calendar</a></li>
					<li><i class="fa fa-info-circle"></i>  <a href="#">About</a></li>
					<li><i class="fa fa-envelope"></i>  <a href="#">Contact</a></li>
					<li><i class="fa fa-book"></i> <a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="footerbox">
				<h3>Links</h3>
				<ul>
					<li><a href="#">Ohio</a></li>
					<li><a href="#">Ninefold</a></li>
					<li><a href="#">Ruby on Rails</a></li>
					<li><a href="#">Angular.js</a></li>
					<li><a href="#">Bootstrap</a></li>
				</ul>
			</div>
			<div class="footerbox last">
				<h3>Contact Us</h3>
				<p>The Coder Factory<br/>
				C/o Redant<br/>
				Level 2, 162 Goulburn Street<br>
				Surry Hills NSW 2010</p>


				<ul class="contact-info">
					<li><i class="fa fa-phone" title="Phone"></i>   +61 402 180 512</li>
					<li><i class="fa fa-envelope" title="Email"></i> info@thecoderfactory.com</li>
					<li><i class="fa fa-desktop" title="Web"></i>   thecoderfactory.com</li>
				</ul>
			</div>
			<br class="clear" />
		</div> <!-- END .widgets -->
		
		<div class="bottom">
			<p class="right">&copy; 2013 The Coder Factory. All rights reserved</p>
		</div>
	</div> <!-- END .wrapper FOR footer -->
</footer>
<!-- END footer -->