<footer id="footer" role="contentinfo">
	<div class="wrapper">

		<div class="top">
			<h3>Connect with Us</h3>
			<p class="circle-icons">
				<a href="https://www.twitter.com/coderfactory" target="_blank" title="Twitter"><i class="fa fa-twitter fa-lg twitter"></i></a>		
				<a href="https://www.facebook.com/thecoderfactory" target="_blank" title="Facebook"><i class="fa fa-facebook fa-lg facebook"></i></a>
				<a href="https://plus.google.com/b/100818528139080406377/" target="_blank" title="Google+"><i class="fa fa-google-plus fa-lg google-plus"></i></a>	
				<a href="http://www.linkedin.com/company/3290162" target="_blank" title="LinkedIn"><i class="fa fa-linkedin fa-lg linkedin"></i></a>
				<a href="https://github.com/TheCoderFactory" target="_blank" title="Github"><i class="fa fa-github-alt fa-lg github"></i></a>
				<a href="http://coderfactory.tumblr.com/" target="_blank" title="Tumblr"><i class="fa fa-tumblr fa-lg tumblr"></i></a>				
			</p>
		</div>
	
		<div class="widgets">
			<div class="footerbox">
				<h3>About Us</h3>
				<p>The Coder Factory helps you become a confident coder with flexible part time courses. Build fun and exciting projects that could make your dreams come true.</p>
			<!-- Begin MailChimp Signup Form -->


<form action="http://thecoderfactory.us7.list-manage1.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="form-group">
	<label for="mce-EMAIL">Stay up to date with the latest from The Coder Factory</label>
	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required></div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
</form>

<!--End mc_embed_signup-->
			</div>
			<div class="footerbox">
				<h3>Sitemap</h3>
				<ul>
					<li><i class="fa fa-tasks"></i>  <a href="/web-development-and-javascript-courses">Courses</a></li>
					<!-- <li><i class="fa fa-calendar"></i> <a href="#">Calendar</a></li> -->
					<li><i class="fa fa-info-circle"></i>  <%= link_to "About", about_path %></li>
					<li><i class="fa fa-envelope"></i>  <%= link_to "Contact", contact_path %></li>
					<li><i class="fa fa-book"></i> <%= link_to "Blog", blog_path %></li>
				</ul>
			</div>
			<div class="footerbox">
				<h3>Links</h3>
				<ul>
					<li><a href="http://thestartupcommunity.com/" target="_blank">The Startup Community</a></li>
					<li><a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank">Sunday Coder Club</a></li>
					<li><a href="http://www.meetup.com/Sydney-on-Rails/" target="_blank">Sydney on Rails</a></li>
					<li><a href="http://www.meetup.com/AngularJS-Sydney/" target="_blank">AngularJS Sydney</a></li>
				</ul>
			</div>
			<div class="footerbox last">
				<h3>Contact Us</h3>
				<div itemscope itemtype="http://schema.org/Organization"> 
   					
					<p><span itemprop="name">The Coder Factory</span> <br/>
				<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">C/o Redant<br/>
					Level 2, 162 Goulburn Street</span><br>
					<span itemprop="addressLocality">Surry Hills</span> <span itemprop="addressRegion">NSW</span> <span itemprop="postalCode">2010</span></div></p>


				<ul class="contact-info">
					<li><i class="fa fa-phone" title="Phone"></i>   <a href="tel:+61402180512"><span itemprop="telephone">+61 402 180 512</span></a></li>
					<li><i class="fa fa-envelope" title="Email"></i> <span itemprop="email">info@thecoderfactory.com</span></li>
					<li><i class="fa fa-desktop" title="Web"></i>   <span itemprop="url">thecoderfactory.com</span></li>
				</ul>
			</div>
			<br class="clear" />
		</div> <!-- END .widgets -->
		
		<div class="bottom">
		<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
					<script>
					  (function() {
					    var cx = '013907893581764350641:jsqs5tsu7yg';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					        '//www.google.com/cse/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
					</script>
					<gcse:search></gcse:search>
		</div>
		<div class="col-md-4">
			<p>&copy; 2013 The Coder Factory. All rights reserved | <%= link_to "Privacy", privacy_path %></p>
		</div>
		</div>

	</div> <!-- END .wrapper FOR footer -->
</footer>
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ee398713b80ae1"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'thecoderfactory'},
        {'service': 'twitter', 'id': 'coderfactory'},
        {'service': 'google_follow', 'id': '100818528139080406377'},
        {'service': 'linkedin', 'id': '3290162', 'usertype': 'company'},
        {'service': 'tumblr', 'id': 'coderfactory'}
      ]
    },  
    'whatsnext' : {},  
    'recommended' : {} 
  });
</script>

<!-- AddThis Smart Layers END -->