<!-- Slider _____________________________________________-->
	<section id="slider">
		<a href="javascript:void(0)" class="prev1"></a>
		<a href="javascript:void(0)" class="next1"></a>
		<ul id="slides">
			<% @sliders.each do |slider| %>
			<li class="slide">
				<div class="wrapper">
					<div class="slide-text">
						<p class="big"><%= slider.title.html_safe %></p>
						<p><%= slider.content.html_safe %>
						<br><br>
						<%= link_to slider.button_text, slider.button_url, alt: slider.title.html_safe, class: "btn btn-default btn-lg" %></p>
					</div>
					<div class="slide-image">
						<%= image_tag slider.image %>
					</div>
				</div>
				<div class="slide-back">
					
				</div>
			</li>
			<% end %>
			
			
		</ul>
	</section>
	<!--  END #slider -->